.menu, .footer, .notice {
	display: none;
} 

.heading {
	border: 0;
	padding: 0;
	width: auto;
}

div.main-content {
	float:none;
	width:auto;
}

.container {
	width:auto;
	padding: 0;
	margin: 0 2cm;
}

body {
	background-color: white;
	font-size:10pt;
	margin: 0;
}

.print-logo {
        display:block;
        width: 6cm;
	float:right;
        padding-right: 2cm;

}

h1 {
	border-bottom: 3px solid #cccccc;
	font-family: "Lucinda Sans", sans-serif;
	clear:both;
}
