body {
	background-color: #CCCCCC;
}
.syllabus-list form {
	display: inline;
}

.syllabus-tools a {
    font-size: 80%;
    margin-right: 10px;
}

ul.syllabus-list {
	list-style: none;
	padding: 0;
}

.syllabus-list li{
	padding-bottom: 15px;
	margin: 0.25em 0;
}
.module-code {
	font-weight: bold;
}
.container {
	width: 1000px;
	margin:auto;
	background-color: white;
	padding: 10px;
	position: relative;
}

.menu {
	position:absolute;
	top: 60px;
	left: 20px;
	background-color:white;
}

.menu ul {
	list-style: none;
	padding: 0;
	width: 200px;
	margin-left: 0;
	margin-right: 0;
}

.menu li {
	background-color: #777777;
	border-bottom: solid 1px white;
}
.menu li a { 
	padding: 5px;
	padding-left: 15px;
	color: white;
	text-decoration: none;
	display: block;
}

div.main-content {
	margin-top: 10px;
	float: right;
	width: 750px;
	font-family: Verdanna, sans-serif;
}

.clearer {
	clear: both;
	width:100%;
	height: 1px;
}

.heading {
	width: 750px;
	padding: 90px 0 5px 240px;
	border-bottom: 2px solid #333333;

}
.heading h1 {
	margin: 10px 0;
}

.create-syllabus form {
	display: none;
	margin: 5px;
	padding: 5px; 
	border: 1px solid #CCCCCC;
}

.show-create {
	border-bottom: 1px dashed black;	
}

.show-create:hover {
	border-bottom: 1px solid black;	
}

a {
	color: #0066cc;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
.current-syllabus, .previous-syllabus {
	display:none;
}
table.login {
	margin:auto;
}

table.login .login-container {
	text-align:center;
}

.years, .create-syllabus {
	margin: 1em 0 2em;
}

.notice {
	padding: 0.8em;
	border: 1px solid #4884ff;
	background-color: #acc7ff;
	margin-bottom: 1em;
}

.assessment, .teaching-activity{
	margin: 1.5em 0;
}

.learning-resources .details p {
	margin-top:0.2em;
}

.main-content {
	min-height: 200px;
}

.module-search {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	padding: 0.75em 0;
	text-align: center;
}

.module-search #search-results {
	text-align: left;
}

.module-title input {
	width: 60%;
}
#module_container .ff_field {
	display:block;
}
#module_container .ff_field .ff_title {
	width: 15ex;
}
#resources_list .ff_title {
	width: 6ex;
}

.action, .toggle {
	vertical-align: middle;
	cursor: pointer;
	border-radius: 10px;
	background-color: #eef;
	border: solid 2px #99e;
	padding: 2px 6px 2px 6px;
	min-height: 14px;
	display: inline-block;
	font-size: 12px;
	color: #669;
	margin: 5px 5px 5px 0px;
}
.action:active {
	margin: 7px 3px 3px 2px;
}
.action:hover {
	background-color: #dde;
	text-decoration:none;
}

table.changelog {
	border-collapse: collapse;
}
table.changelog th {
	text-align:left;
	background-color: #666;
	color: white;
	font-weight: normal;
	border-right: solid 1px #fff;
	padding: 3px;
	font-size: 90%;
}
table.changelog td {
	text-align:left;
	color: #666;
	font-weight: normal;
	border: solid 1px #666;
	padding: 3px;
	font-size: 90%;
}

#approval-note {
	display: block;
	width: 99%;
}

.review-syllabus {
	border:solid 2px #000;
	margin-top: 1em;
}
.review-syllabus article {
	padding: 1em;
}
.review-syllabus .syllabus-type {
	background-color: #000;
	color: #fff;
	font-weight: bold;
	padding: 2px;
	font-size: 140%;
}
.review-syllabus .review-intro {
	background-color: #ccf;
	padding: 1em;
	margin-bottom: 1em;
	border-bottom: solid 2px #000;
}
.review-syllabus .review-intro p {
	margin-top: 0;
}
	
article.deprecated {
	background: url(/html_assets/deprecated-bg.png);
}
article.provisional {
	background: url(/html_assets/provisional-bg.png);
}
