<F3:check if="{{count(@syllabus->ownRegularteaching) && count(@syllabus->ownExam)}}">
<table>
	<tbody>
		<tr>
			<th>Assessment Method</th>
			<th>Hours</th>
			<th>% contribution to final mark</th>
		</tr>
		<F3:repeat group="{{@syllabus->ownContinuousassessment}}" value="{{@activity}}">
			<tr>
				<td><F3:check if="{{@getConstant(@syllabus, @activity->type)==@activity->description}}">
					<true>{{@activity->description}}</true>
					<false><strong>{{@getConstant(@syllabus, @activity->type)}}</strong> {{@activity->description}}
					</false>
				</check></td>
				<td>&nbsp;</td>
				<td>{{@activity->percent}}%</td>
			</tr>
		</F3:repeat>
		<F3:repeat group="{{@syllabus->ownExam}}" value="{{@assessment}}">
			<tr>
				<td>Exam</td>
				<td>{{@assessment->examduration}} hour(s)</td>
				<td>{{@assessment->percent}}%</td>
			</tr>
		</F3:repeat>
	</tbody>
</table>
</F3:check>

<p>Referral Method: {{@getConstant(@syllabus,@syllabus.referral)}}</p>
<div class="referralnotes">
        {{@syllabus.referralnotes}}
</div>

<repeat group="{{@syllabus.ownRepeatyear}}" value="{{@year}}">
        <p>Method of Repeat Year: {{@getConstant(@syllabus, @year->repeatyear)}}</p>
</repeat>
