<div class="create-syllabus">
	<span class="toggle" href="#" onclick=" $('.create-syllabus form').toggle(); $('.create-syllabus .showtext').toggle(); $('.create-syllabus .hidetext').toggle(); false">
<span class="showtext"><img src='/html_assets/floraform/resources/images/add.png' style='width:12px;vertical-align:bottom'/> Create a provisional module</span>
<span class="hidetext" style='display:none'><img src='/html_assets/minus.png' style='width:12px;vertical-align:bottom'/> Create a provisional module</span>
</span>
 - this should only be done for modules not yet in banner
	<form method="POST" action="/create/module">
			<div class="module-title">Module title: <input type="text" name="moduletitle" /></div> 
			<div class="module-details">
				Module prefix: 
				<select name="moduleprefix">
					<option value="COMP">COMP</option>
					<option value="ELEC">ELEC</option>
					<option value="INFO">INFO</option>
					<option value="OPTO">OPTO</option>
					<option value="PHYS">PHYS</option>
					<option value="UOSM">UOSM</option>
					<option value="WEBS">WEBS</option>
				</select>
				Module part: 
				<select name="modulepart">
					<option value="1">Part 1</option>
					<option value="2">Part 2</option>
					<option value="3">Part 3</option>
					<option value="6">Part 6</option>
					<option value="8">Part 8</option>
				</select>
			</div> 
			<input type="hidden" name="session" value="{{@selected_year}}">
			<div class="create-button"><input class='action' type="submit" value="Create!" /></div>
	</form>
</div>
