<div class="create-syllabus">
	<a class="show-create" href="#" onclick="$('.create-syllabus form').toggle();false">Create a provisional module</a> - this should only be done for modules not yet in banner
	<form method="POST" action="/create/module">
			<div class="module-title">Module title: <input type="text" name="moduletitle" /></div> 
			<input type="hidden" name="session" value="{{@selected_year}}">
			<div class="create-button"><input type="submit" value="Create!" /></div>
	</form>
</div>
