<F3:check if="{{ @syllabus->ownSyllabuseditlog }}">
	<F3:true>
		<table class='changelog' >
			<tr>
				<th>Date</th>
				<th>Time</th>
				<th>Name &amp; username</th>
				<th>Summary</th>
			</tr>
			<F3:repeat group="{{ @syllabus->with( ' ORDER BY timestamp DESC' )->ownSyllabuseditlog }}" value="@log">
				<tr>
					<td>{{ date( "D, d M Y", @log->timestamp ) }}</td>
					<td>{{ date( "H:i", @log->timestamp ) }}</td>
					<td>{{ @log->name }} ({{ @log->username }})</td>
					<td>{{ @log->summary }}</td>
				</tr>
			</F3:repeat>
		</table>
	</F3:true>
	<F3:false>
		<p>No changelog available.</p>
	</F3:false>

</F3:check>
