<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/html_assets/floraform/resources/ff.css" />
		<script type="text/javascript" src="/html_assets/floraform/resources/ff.js"> </script>

		<link rel="stylesheet" href="/html_assets/style.css" />
		<script type="text/javascript" src="/html_assets/floraform/tiny_mce/tiny_mce.js"></script>
		<script type="text/javascript" src="/html_assets/js/jquery-1.8.3.js"></script>
		<script type="text/javascript" src="/html_assets/js/jquery-ui-1.8.20.custom.min.js"></script>

		<script type="text/javascript">
			//this creates the :icontains() selector in jQuery 
			//is the same as contains but case insensitive
			$.expr[":"].icontains = $.expr.createPseudo(function(arg)
			{
				return function( elem )
				{
					return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
				};
			});
		</script>
		<title>{{@title}} - Syllabus creator</title>
	</head>
	<body>
		<div class="container">
			<div class="heading"><h1>{{@title}}</h1></div>
			<div class="menu">
				<ul>
					<li><a href="/" >Home</a></li>
					<li><a href="/" >Modules</a></li>
					<li><a href="/#" >Programs</a></li>
					<li><a href="/#" >Program themes</a></li>
					<li><a href="/review/dashboard" >Review dashboard</a></li>
<check if="{{ @SESSION.authenticated }}">
<true>
					<li>Logged in as {{ @SESSION.user.username }}</li>
					<li><a href="/logout" >Logout</a></li>
</true>
<false>
					<li><a href="/login" >Login</a></li>
</false>
</check>
				</ul>
			</div>	
			<div class="main-content">
				<repeat group="{{ @templates }}" value="{{ @template__ }}">
				<include href="{{ @template__ }}"/>
				</repeat>
			</div>
			<div class="clearer"> </div>
			<div class="footer"><a href="/contact">Contact Us</a></div> 
		</div>

		<div class="clearer"> </div>
<!-- {{ tick() }} -->
	</body>
</html>
