<F3:repeat group="{{@modules}}" key="{{@facultycode}}" value="{{@details}}">
	<a href="#" onclick="$('#syllabus-list-{{@facultycode}}').toggle();return false;"><h2 id="{{@facultycode}}">{{@details["name"]}}</h2></a>
	<F3:check if="{{@facultycode==@userfacultycode}}">
		<true>
			<ul class="syllabus-list" id="syllabus-list-{{@facultycode}}">
		</true>
		<false>
			<ul class="syllabus-list" id="syllabus-list-{{@facultycode}}" style="display:none">
		</false>
	</F3:check>
		<F3:repeat group="{{@details['modules']}}" value="{{@module}}">
			<li><span class="module-code">{{@module->code}}</span>: {{@module->title}} 
				<span class="syllabus-tools">- 
					<F3:check if="{{@module->getCurrent()}}">
						<F3:true>
						<a href="/view/syllabus/{{@module->getCurrent()->id}}">View current syllabus</a> 
						</F3:true>
					</F3:check>
					<F3:check if="{{@module->getProvisional()}}">
						<F3:true>							
						<a href="/view/syllabus/{{@module->getProvisional()->id}}">View provisional syllabus</a> 
						<a href="/edit/syllabus/{{@module->getProvisional()->id}}">Edit provisional syllabus</a> 
							<F3:check if="{{@module->getProvisional()->isunderreview}}">
								<F3:true>
									<a href="/review/syllabus/{{@module->getProvisional()->id}}">Review provisional syllabus</a> 
								</F3:true>
								<F3:false>
									<a href="/toreview/syllabus/{{@module->getProvisional()->id}}">Submit for review</a> 
								</F3:false>
							</F3:check>
						</F3:true>
						<F3:false>
						<a href="/create/syllabus/?modulecode={{@module->code}}&session={{@module->session}}">Edit provisional syllabus</a> 
						</F3:false>
					</F3:check>
				</span>
			</li>
		</F3:repeat>

	</ul>
</F3:repeat>
