<div class="provisional-notice notice">
	<p>This syllabus is provisional, it can not be made live until it has been reviewed.</p>

	<p>You can <a href="/pdf/moduleprofile/{{@module->code}}">download the module profile pdf</a>.</p>

	<F3:check if="{{ @syllabus->isunderreview }}">
		<true>
			<p>This syllabus is currently awaiting review.</p>
		</true>
		<false>
			<form method="GET" action="/toreview/syllabus/{{@syllabus->id}}">
				<p>
					<input class='action' type="submit" value="Submit syllabus for review" />
				</p>
			</form>
			
		</false>
	</F3:check>
	<p><a href="/view/modules/{{ @module->session }}">&larr; Return to module list</a> or <a href="/edit/syllabus/{{@syllabus->id}}">continue editing this syllabus in {{@module->session}}</a>.</p>

	<check if="{{@module->session < @next_session}}">
		<p>Alternative you may want to <a href="/create/syllabus/?modulecode={{@module->code}}&session={{@next_session}}">edit this syllabus for the next academic year ({{@next_session}})</a>.</p>
	</check>
</div>
