<div class="provisional-notice notice">
	<p>This syllabus is provisional, it can not be made live until it has been reviewed.</p>

	<p>You can <a href="/pdf/syllabus/{{@syllabus->id}}">download this syllabus as pdf</a>.</p>

	<F3:check if="{{ @syllabus->isunderreview }}">
		<true>
			<p>This syllabus is currently awaiting review.</p>
		</true>
		<false>
			<form method="GET" action="/toreview/syllabus/{{@syllabus->id}}">
				<p>
					<input class='action' type="submit" value="Submit syllabus for review" />
				</p>
			</form>
			
		</false>
	</F3:check>
	<p><a href="/view/modules/{{ @module->session }}">&larr; Return to module list</a> or <a href="/edit/syllabus/{{@syllabus->id}}">continue editing this syllabus</a>.</p>
</div>
