<div class="provisional notice">
	<p>This syllabus is provisional, it can not be made live until it has been reviewed.</p>
	<F3:check if="{{ @syllabus->isunderreview }}">
		<true>
			<p>This syllabus is currently awaiting review.</p>
		</true>
		<false>
			<form method="GET" action="/toreview/syllabus/{{@syllabus->id}}">
				<p>Submit this syllabus for review: 
					<input type="submit" value="Submit for review" />
				</p>
			</form>
    </F3:check>
			<form method="GET" action="/edit/syllabus/{{@syllabus->id}}">
				<p>Continue making changes to this syllabus: 
					<input type="submit" value="Continue editing" />
				</p>
			</form>
			
		</false>
	</F3:check>
	<p><a href="/">Return to module list</a></p>
</div>
