<form method="GET" action="/report/usage">
  <p>
  <label for="faculty">Show syllabuses for faculty:</label>
  <select id="faculty" name='faculty'>
    <repeat group="{{@faculties}}" key="{{@code}}" value="{{@fac}}">
    <option value="{{@code}}" <check if="{{@code}} == {{@faculty}}">selected="selected"</check> >{{@fac}}</option>
    </repeat>
  </select>
  </p>

  <p>
  <label for="academic_session">In academic session:</label>
  <select id="academic_session" name='academic_session'>
    <repeat group="{{@sessions}}" value="{{@sess}}">
    <option value="{{@sess}}" <check if="{{@sess}} == {{@academic_session}}">selected="selected"</check> >{{@sess}}</option>
    </repeat>
  </select>
  </p>

  <p>
  <label for="report_start">Approved after:</label>
  <input class="datepicker" id="report_start" name="report_start" type="text" value="{{@report_start}}" size="10"/>

  <label for="report_end">Approved before:</label>
  <input class="datepicker" id="report_end" name="report_end" type="text" value="{{@report_end}}" size="10"/>
  </p>

  <p>
  <input type="submit" value="Show">
  </p>
</form>

<p><a href="?csv=1&report_start={{@report_start}}&report_end={{@report_end}}&faculty={{@faculty}}">Download report as CSV</a></p>
<p><a href="?pdf=1&report_start={{@report_start}}&report_end={{@report_end}}&faculty={{@faculty}}">Download the module profiles as pdf</a></p>

<!--<p>{{count(@syllabuses)}} syllabus(es) have been approved between {{@report_start}} and {{@report_end}}.-->



<script language="javascript">
$(document).ready(function(){
    $('#syllabuses').dataTable({
        "sDom": '<"wrapper"flipt>',
        "iDisplayLength" : 25,
        "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
    });
});
</script>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="syllabuses" width="100%">
	<thead>
		<tr>
			<th>Module Code</th>
			<th>Reason</th>
			<th>Approver</th>
			<th>Approval date</th>
		</tr>
	</thead>
	<tbody>
        <repeat group="{{@syllabuses}}" value="{{@syllabus}}">
          <check if="{{@syllabus->module}}">
            <tr>
                <td><a href="/view/syllabus/{{@syllabus->id}}">{{@syllabus->module->code}}</a></td>
                <td><check if="{{@syllabus->approvalnote}}">{{@syllabus->approvalnote}}</check></td>
                <td><check if="{{@syllabus->approvedby}}">{{@syllabus->approvedby}}</check></td>
                <td>{{date("Y-m-d",@syllabus->timeapproved)}}</td>
            </tr>
          </check>
        </repeat>
    </tbody>
</table>

<script language="javascript">
$(function() {
   $( ".datepicker" ).datepicker({
     dateFormat: "yy-mm-dd"
   });
});
</script>
