<ul>
  <repeat group="{{@faculties}}" key="{{@code}}" value="{{@name}}">
  <li>{{@name}}:
    <ul>
      <li><a href="/report/usage/{{@code}}">Usage</a></li>
      <li><a href="/report/unedited_modules/{{@code}}">Unedited modules</a></li>
      <li><a href="/report/books/{{@code}}">Textbook usage</a></li>
      <li><a href="/report/moduleprofiles/{{@code}}">Module profile PDFs</a></li>
      <li><a href="/report/url/{{@code}}">Module profile URLs for programme catologue</a></li>
      <li><a href="/report/learningoutcomes/{{@code}}">Syllabus learning outcomes</a></li>
    </ul>
  </li>
  </repeat>
</ul>
