<p>

<form method="GET">
  <p>
  <label for="faculty">Show syllabuses for faculty:</label>
  <select id="faculty" name='faculty'>
    <repeat group="{{@faculties}}" key="{{@code}}" value="{{@fac}}">
    <option value="{{@code}}" <check if="{{@code}} == {{@faculty}}">selected="selected"</check> >{{@fac}}</option>
    </repeat>
  </select>
  </p>

  <p>
  <label for="academic_session">In academic session:</label>
  <select id="academic_session" name='academic_session'>
    <repeat group="{{@sessions}}" value="{{@sess}}">
    <option value="{{@sess}}" <check if="{{@sess}} == {{@academic_session}}">selected="selected"</check> >{{@sess}}</option>
    </repeat>
  </select>
  </p>

  <p>
  <label for="report_start">Approved after:</label>
  <input class="datepicker" id="report_start" name="report_start" type="text" value="{{@report_start}}" size="10"/>

  <label for="report_end">Approved before:</label>
  <input class="datepicker" id="report_end" name="report_end" type="text" value="{{@report_end}}" size="10"/>
  </p>

  <p>
  <input type="submit" value="Show">
  </p>
</form>
<p>{{count(@syllabuses)}} syllabus(es) have been approved between {{@report_start}} and {{@report_end}}.
<ul>
	<repeat group="{{@syllabuses}}" value="{{@syllabus}}">
		<check if="{{@syllabus->module}}">
			<li><strong><a href="/view/syllabus/{{@syllabus->id}}">{{@syllabus->module->code}}</a></strong>
			<check if="{{@syllabus->approvalnote}}">
			 - Reason:{{@syllabus->approvalnote}} 
			</check>

			<check if="{{@syllabus->approvedby}}">
				- {{@syllabus->approvedby}}</li>
			</check>
			- {{date("Y-m-d",@syllabus->timeapproved)}}
		</check>
	</repeat>
</ul>

<script language="javascript">
$(function() {
   $( ".datepicker" ).datepicker({
     dateFormat: "yy-mm-dd"
   });
});
</script>
