<form action="/report/usage" method="GET">
<p>Show syllabuses approved between <input name="report_start" type="text" value="{{@report_start}}" size="10"/> and <input name="report_end" type="text" value="{{@report_end}}" size="10"/> <input type="submit" value="Show"></p>
</form>

<p><a href="?csv=1&report_start={{@report_start}}&report_end={{@report_end}}">Download report as CSV</a></p>

<p>{{count(@syllabuses)}} syllabus(es) have been approved between {{@report_start}} and {{@report_end}}.
<ul>
	<repeat group="{{@syllabuses}}" value="{{@syllabus}}">
		<check if="{{@syllabus->module}}">
			<li><strong><a href="/view/syllabus/{{@syllabus->id}}">{{@syllabus->module->code}}</a></strong>
			<check if="{{@syllabus->approvalnote}}">
			 - Reason:{{@syllabus->approvalnote}} 
			</check>

			<check if="{{@syllabus->approvedby}}">
				- {{@syllabus->approvedby}}</li>
			</check>
			- {{date("Y-m-d",@syllabus->timeapproved)}}
		</check>
	</repeat>
</ul>
