<div class="review_tools">
	<check if="{{ @syllabus->isprovisional===true }}">
		<true>
			<p>This syllabus is no longer provisional and can not be reviewed</p>
		</true>
		<false>
			<check if="{{ !@syllabus->cqareviewed }}">
				<form action="/approve/syllabus/{{@syllabus->id}}" method="POST">
				<input type="hidden" name="reviewtype" value="cqa" />
				<div class="review-note">
				<p>Please leave a note explaining your reason for approval. For example: "Less than 20% of the module has changed."</p>
				<textarea id="approval-note" name="approvalnote"> </textarea>
				<script type="text/javascript">
					$("#approval-note").focus();
				</script>
				<input type="submit" value="Approve syllabus" class='action'/>
				</form>
			</check>
		</false>
	</check>
</div>
