			<li><span class="module-code">{{@module->code}}</span>: {{@module->title}} 
				<span class="syllabus-tools">- 
					<form method="GET" action="/view/syllabus/{{@syllabus->id}}">
						<input type="submit" value="View provisional syllabus" />
					</form>
					<F3:check if="{{@syllabus->isunderreview}}">
						<F3:true>
							<form method="GET" action="/review/syllabus/{{@syllabus->id}}">
								<input type="submit" value="Review provisonal syllabus" />
							</form>
						</F3:true>
						<F3:false>
							<form method="GET" action="/toreview/syllabus/{{@syllabus->id}}">
								<input type="submit" value="Submit for review" />
							</form>
						</F3:false>
					</F3:check>
				</span>
			</li>
