<li><span class="module-code">{{@syllabus->module->code}}</span>: {{@syllabus->module->title}} 
	<span class="syllabus-tools">- 
		<a href="/view/syllabus/{{@syllabus->id}}">View provisional syllabus</a>
		<F3:check if="{{ @syllabus->isunderreview }}">
			<F3:true>
				<a href="/review/syllabus/{{@syllabus->id}}">Review provisonal syllabus</a>
			</F3:true>
			<F3:false>
				<form method="GET" action="/toreview/syllabus/{{@syllabus->id}}">
					<input type="submit" class='action' value="Submit for review" />
				</form>
			</F3:false>
		</F3:check>
	</span>
</li>
