
<F3:check if="{{@syllabus->isCurrent()}}">
	<F3:true>
		<article>
	</F3:true>
	<F3:false>
		<F3:check if="{{@syllabus->isprovisional}}">
			<F3:true><article class='provisional'></F3:true>
			<F3:false><article class='deprecated'></F3:false>
		</F3:check>
		<div class='notice'><strong>THIS IS NOT THE CURRENT VERSION FOR {{@syllabus->module->session}}.</strong> 
		<F3:check if="{{@syllabus->module->getCurrent()}}">
			<p>
			<F3:true>
				<a href='/view/syllabus/{{@syllabus->module->getCurrent()->id}}'>View the current version for {{@syllabus->module->session}}</a>
			</F3:true>
			<F3:false>
				<p>No current version availible.</p>
			</F3:false>
			or <a href='/history/module/{{ @syllabus->module->code }}'>view the entire history for {{@syllabus->module->code}}</a>.
			</p>
		</F3:check>
		</div>
	</F3:false>
</F3:check>
  

<F3:check if="{{@syllabus->module->isprovisional}}">
	<F3:true>
		<div class="provisional-module">
			<h2>Provisional Module Information</h3>
			<div class="credits"><span class="label">Credits:</span> {{@syllabus->module->provisionalcredits}}</div>
			<div class="code"><span class="label">Code:</span> {{@syllabus->module->provisionalcode}}</div>
			<div class="title"><span class="label">Title:</span> {{@syllabus->module->provisionaltitle}}</div>
			<div class="semester"><span class="label">Semester:</span> {{@syllabus->module->semestername}}</div>
			<F3:check if="{{@syllabus->module->provisionalprogs}}">	
				<F3:true>
					<div class="notes">
						<h3>Provisional module programmes</h3> 
						{{@syllabus->module->provisionalprogs}}
						<p>(this information is not shown once the module ceases to be provisional, as it will be transferred to BANNER)</p>
					</div>
				</F3:true>
			</F3:check>
			<F3:check if="{{@syllabus->module->provisionalreqs}}">	
				<F3:true>
					<div class="notes">
						<h3>Pre-requisites on provisional module</h3> 
						{{@syllabus->module->provisionalreqs}}
						<p>(these are not shown once the module ceases to be provisional, as they will be transferred to BANNER)</p>
					</div>
				</F3:true>
			</F3:check>
			<F3:check if="{{@syllabus->module->provisionalnotes}}">	
				<F3:true>
					<div class="notes">
						<h3>Other notes about provisional module</h3> 
						{{@syllabus->module->provisionalnotes}}
						<p>(these are not shown once the module ceases to be provisional)</p>
					</div>
				</F3:true>
			</F3:check>
                     
		</div>
	</F3:true>
	<F3:false>
		<div class="banner">
			<div class="credits"><span class="label">Credits:</span> {{@syllabus->module->credits}}</div>
			<div class="semester"><span class="label">Semester:</span> {{@syllabus->module->semestername}}</div>
		</div>
		<F3:check if="{{ @syllabus->module->ownModulemajorrelation }}"><F3:true>
			<h2>Degrees offering this module</h2>
			<table>
				<F3:repeat group="{{ @syllabus->module->ownModulemajorrelation }}" value="{{@relation}}">
					<tr>
						<td style='text-align:right'>{{ @relation->type }} on</td>	
						<td>{{ @relation->major->title }}
						<F3:check "{{ @relation->yearofstudy <=5 }}"><F3:true>
							(year {{ @relation->yearofstudy }})
						</F3:true></F3:check>
						</td>	
					</tr>
				</F3:repeat>
			</table>
		</F3:true></F3:check>

	</F3:false>
</F3:check>


<F3:check if="{{count(@module->sharedPerson) > 0}}">
	<F3:true>
		<div class="people">
			<h2>Teaching Staff</h2>

			<ul>
				<F3:repeat group="{{@module->sharedPerson}}" value="{{@person}}">
					<li><span class="first-name">{{@person->firstname}}</span> <span class="last-name">{{@person->lastname}}</span></li>
				</F3:repeat>
			</ul>
		</div>
	</F3:true>
</F3:check>


<F3:check if="{{@syllabus->introduction}}">
	<F3:true>
		<div class="overview">
			<h2>Overview</h2>
			{{@syllabus->introduction}}
		</div>
	</F3:true>
</F3:check>


<F3:check if="{{@syllabus->learningoutcomes}}">
	<F3:true>
		<div class="learning-outcomes">
			<h2>Learning Outcomes</h2>
			{{@syllabus->learningoutcomes}}
		</div>
	</F3:true>
</F3:check>

<F3:check if="{{@syllabus->topics}}">
	<F3:true>
		<div class="topics-covered">
			<h2>Topics Covered</h2>
			{{@syllabus->topics}}
		</div>
	</F3:true>
</F3:check>

<F3:check if="{{count(@syllabus->ownRegularteaching) > 0}}">
	<F3:true>
		<div class="teaching-activities">
			<h2>Teaching Activities</h2>

			<F3:repeat group="{{@syllabus->ownRegularteaching}}" value="{{@activity}}">
				<div class="teaching-activity">
					<div class="type"><span class="label">Type:</span> {{@getConstant(@syllabus, @activity->activitytype)}}</div>
					<div class="duration"><span class="label">Hours per semester:</span> {{@activity->studenthours}}</div>
					<div class="group-size"><span class="label">Group Size:</span> {{@activity->groupsize}}</div>
					<div class="teaching-description"><span class="label">Description:</span> {{@activity->teachingdescription}}</div>

				</div>
			</F3:repeat>
		</div>
	</F3:true>
</F3:check>

<F3:check if="{{count(@syllabus->ownExam) > 0}}">
	<F3:true>
		<div class="exams">
			<h2>Examination</h2>

			<F3:repeat group="{{@syllabus->ownExam}}" value="{{@assessment}}">
				<div class="assessment">
					<div class="description"><span class="label">Description:</span> Exam</div>
					<div class="percentage"><span class="label">Mark Percentage:</span> {{@assessment->percent}}</div>
					<div class="duration"><span class="label">Exam Duration:</span> {{@assessment->examduration}} hour(s)</div>
				</div>
			</F3:repeat>
		</div>
	</F3:true>
</F3:check>

<F3:check if="{{count(@syllabus->ownContinuousassessment) > 0}}">
	<F3:true>
		<div class="assessments">
			<h2>Continuous Assessment</h2>

			<F3:repeat group="{{@syllabus->ownContinuousassessment}}" value="{{@assessment}}">
				<div class="assessment">
					<div class="description"><span class="label">Description:</span> {{@assessment->description}}</div>
					<div class="frequency"><span class="label">Frequency:</span> {{@assessment->frequency}} hour(s)</div>
					<div class="percentage"><span class="label">Mark Percentage:</span> {{@assessment->percent}}</div>
					<div class="type"><span class="label">Assessment Type:</span> {{@getConstant(@syllabus,@assessment->type)}}</div>
					<div class="week-nos"><span class="label">Weeks carried out:</span> {{@assessment->weeknos}}</div>
					<div class="feedback"><span class="label">Feedback:</span> {{@assessment->feedback}}</div>
				</div>
			</F3:repeat>
		</div>
	</F3:true>
</F3:check>

<F3:check if="{{@syllabus->referral}}">
	<F3:true>
		<div class="referral-policy">
			<h2>Referral Policy</h2>
			<p>{{@getConstant(@syllabus, @syllabus->referral)}}</p>
		</div>
	</F3:true>
</F3:check>

<F3:check if="{{@syllabus->assessmentnotes}}">
	<F3:true>
		<div class="assessment-notes">
			<h2>Assessment notes</h2>
			{{@syllabus->assessmentnotes}}
		</div>
	</F3:true>
</F3:check>

<!-- Timetable notes should not be shown here, students dont see it -->

<F3:check if="{{count(@syllabus->ownResources) > 0}}">
	<F3:true>
		<div class="learning-resources">
			<h2>Learning Resources</h2>

			<F3:repeat group="{{@syllabus->ownResources}}" value="{{@resource}}">
				<div class="resource">
					<div class="type"><span class="label">Resource type:</span> {{@getConstant(@syllabus, @resource->type)}}</div>
					<F3:check if="{{@syllabus->isbn}}">
						<div class="isbn"><span class="label">ISBN:</span> {{@resource->isbn}}</div>
					</F3:check>
					<div class="details">{{@resource->details}}</div>
				</div>
			</F3:repeat>
		</div>
	</F3:true>
</F3:check>

<h2>Prerequisite information</h2>
<p>This information comes from banner and can not be edited throught this sytem.</p>

<check if="{{ file_exists('templates/prerequisites/'. @module->code .'.html') }}">
	<include href="{{'prerequisites/'.@module->code.'.html'}}" />
</check>

<h2>Meta information</h2>

<F3:check if="{{@syllabus->isprovisional}}">
	<F3:false>
		<check if="{{@syllabus->approvedby}}">
			<p>Approved by: {{@syllabus->approvedby}}</p>
		</check>
		<check if="{{@syllabus->timeapproved}}">
			<p>Time approved: {{date("jS M Y - g:ia",@syllabus->timeapproved)}}</p>
		</check>
		<check if="{{@syllabus->approvalnote}}">
			<true><p>Approval note: {{@syllabus->approvalnote}}</p></true>
			<false><p>Approval note: No approval note was left.</p></false>
		</check>

	</F3:false>
	<F3:true>
		<F3:exclude>
		    changessummary is deprecated but some syllabus may still have
		    it set so we'll show it if there's any data. 
		</f3:exclude>
		<check if="{{@syllabus->changessummary}}">
			<p>Change summary: {{@syllabus->changessummary}}</p>
		</check>

		<h3>Change log since last approval:</h3>

		<F3:include href="log.htm" />

	</F3:true>
</F3:check>

<F3:check if="{{ ! @syllabus->module->isprovisional }}">
	<p><a href='/history/module/{{ @syllabus->module->code }}'>View module history</a></p>
</F3:check>	
		
		



<!-- Change information will not be shown here -->
</article>
